body {
    background-color: lightblue;
    display: flex;     
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    margin: 160px 400px;    
    background-color: white;
    border-radius: 5px;
}

#quote-box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: auto
}

#text {
    font-size: 24px;    
    text-align: center;
}

#author, #btn-block {
    padding-top: 30px;
    align-self: flex-end;
    position: relative;  
    margin-right: 10px;  
}

#btn-text {
    height: 30px;
    background-color: lightgreen;
    border-radius: 15px;
    opacity: 1;
    border: black solid 1px;
    outline: none;
}

#btn-text:hover {
    opacity: 0.7;
}
