body {
    background-color: lightblue;
    display: flex;     
    flex-direction: wrap;
    justify-content: center;
}

.container {
    height: 250px;  
    margin: 60px 400px;    
    background-color: white;
    border-radius: 5px;
}

#text {
    font-size: 24px;
}


